
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.block_hi {
	background-color: #445162;
	padding: 50px 0;
}
.conteiner {
	max-width: 1178px;
	margin: auto;
}
.block_hi_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.block_hi_title {
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.block_hi_text {
	margin: 0 0 35px 0;
	font-size: 60px;
}
.block_hi_list li{
	font-size: 20px;
	line-height: 22px;
	background: url(..//img/check_icon_346.png) left no-repeat;
	padding: 0 0 0 35px;
	margin: 0 0 15px 0;
}
.block_hi_list li:last-child{
	margin: 0;
}
.block_hi_image{
}

.block_flexbox {
	background-color: #ffffff;
	padding: 51px 0;
}
.conteiner_2{
	max-width: 1178px;
	margin: auto;
}
.block_flexbox_row {
	display: flex;
	flex-direction: row;
}
.block_flexbox_text {
	margin: 0 0 0 40px;
}
.block_flexbox_text_title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	margin: 0 0 25px 0;
}
.block_flexbox_text_info {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.upper_info {
	margin: 0 0 25px 0;
}
.flex_conteiner {
	background-color: #f5f5f5;
	padding: 48px 0;
}
.flex_conteiner_title {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}
.conteiner_3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1178px;
	margin: auto;
}
.conteiner_content {
	display: flex;
	flex-direction: row;
	width: 585px;
	padding: 30px 0 0 0;
}
.conteiner_image {
}
.conteiner_discription {
	margin: 0 0 0 15px;
}
.discription_title {
	margin: 0 0 7px 0;
	font-size: 24px;
	line-height: 30px;
	color: #445161;
}
.discription_text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.footer {
	background-color: #f5f5f5;
}
.footer_row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}
.footer_text {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.025em;
	color: #445162;
}
.vertical {
	background-color: #ffffff;
}
.vertical_title {
	padding: 45px 0 0 0;
	text-align: center;
	margin: 0 0 25px 0;
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}
.conteiner_4 {
	display: flex;
	flex-direction: row;
	width: 990px;
	margin: auto;
	justify-content: space-between;
	padding: 0 0 50px 0;
}
.conteiner_4_content {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: #445162 ;
	border-radius: 5px;
	border: 1px solid #445162;
	padding: 0 0 17px 0;
}
.will_be_happy {
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 0 0 0;
	margin: 0 0 12px 0;
}
.will_be_happy_to_what {
	text-align: center;
	background-color: #ffffff;
	font-size: 40px;
	line-height: 30px;
	color: #445162;
	padding: 20px 0;
	margin: 0 0 15px 0;
}
.text {
	line-height: 24px;
	color: #ffffff;
	padding: 0 25px 0 15px;
	flex: 1 1 auto;
}
.upper_text {
	margin: 0 0 25px 0;
}
.lower_text {
	margin: 0 0 20px 0;
}
.buttom {
	display: block;
	background-color: #ffffff;
	border-radius: 7px;
	width: 260px;
	text-align: center;
	padding: 10px 0;
	margin: auto;
}
.buttom span{
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445161;
}